<div class="container text-white">
  <h1>Add Movie</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class:"submit mt-3"%>
  <% end %>
</div>
